<%render 'layouts/header'%>

<p><strong>name: </strong>  
<%= @book.name  %>
</p>
<p><strong>description </strong>  
<%= @book.description  %>
</p>
<p><strong>author </strong>  
<%= @book.author  %>
</p>
